# Code python
setuptools

# Core JupyterLab and Widgets
jupyterlab
jupyterlab_theme_solarized_dark
ipywidgets
nodejs
jupysql

# Data Science Libraries
numpy
pandas
geopandas
pyarrow
scikit-learn
duckdb
duckdb-engine
osmnx
h3

# Visualization Libraries
matplotlib
keplergl
bokeh
folium